<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>

    <!-- Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
        integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>

    <!-- Stylesheet reference -->
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/popup.css">

</head>

<header>
    <!-- ------------- NAVIGATION ------------- -->
    <nav class="nav">
        <div class="nav-bar flex-row">

            <div class="nav-brand">

                <a href="http://localhost:3000/">
                    <img class="brand-logo" src="assets/svg/blog.svg" width="50">
                    <span class="brand-brandname">Blog</span>
                </a>
            </div>

            <!-- ------------- Menu used if screen <= 750px  ------------- -->
            <div class="menu">
                <div class="icons">
                    <span>
                        <i class="fas fa-bars"></i>
                    </span>
                </div>
            </div>

            <div>
                <ul class="nav-items">
                    <li class="nav-link" id="link-home">
                        <a href="http://localhost:3000/">Home</a>
                    </li>
                    <li class="nav-link" id="link-about">
                        <a href="http://localhost:3000/about">About</a>
                    </li>
                </ul>
            </div>

            <button data-modal-target="#modal" class="user">
                <i class="fas fa-user-circle"></i>
            </button>
        </div>
    </nav>
</header>
<!-- The Java Script file that controls the navbar-->
<script src="js/navbar.js"></script>

<body>

    <!-- ------------- Login Pop-up  ------------- -->
    <div class="modal" id="modal">

        <button data-modal-close class="btn-login-close">&times;</button>

        <div class="modal-header">
            <div class="title title-login" id="title-login">Login</div>
            <div class="title title-register" id="title-register">Register</div>
        </div>

        <div class="modal-body">
            <form class="modal-form" action="${pageContext.request.contextPath}/login" method="post">

                <div class="form-section form-username">
                    <span class="form-txt txt-username">
                        Username:
                    </span>
                    <input class="txt-in" type="text" name="username">
                </div>

                <div class="form-section form-password">
                    <span class="form-txt txt-password">
                        Password:
                    </span>
                    <input class="txt-in" type="password" name="password">
                </div>

                <div class="form-section form-confirm" id="form-confirm">
                    <span class="form-txt txt-confirm">
                        Confirm Password:
                    </span>
                    <input class="txt-in" type="text" name="name">
                </div>

                <div class="form-section form-email" id="form-email">
                    <span class="form-txt txt-email">
                        Email:
                    </span>
                    <input class="txt-in" type="text" name="email">
                </div>

                <button class="popup-btn btn_login_register" name="btn_request" type="submit" value="register"
                    id="btn-register">
                    Register
                </button>

                <button class="popup-btn btn_login_login" name="btn_request" type="submit" value="login" id="btn-login">
                    Login
                </button>
            </form>
        </div>
    </div>
    <div id="overlay"></div>

    <!-- Popup Script -->
    <script src="js/popup.js" onload="highlightLogin()"></script>

    <!-- The Contents of the page -->
    <main>

        <!-- The Intro Section -->
        <section class="site-intro" id="intro">
            <h1>Studying in Kristianstad </h1>
            <p>Most the projects mentioned in this blog have been elaborated as part of course examinations. In which we have worked as a team whenever possible knowing that we could reach out to different groups each time to get a more diverse work experience and still achieve the project's success. </p>
            <img src="assets/images/HKR_logo.png" alt="HKR Logo">
        
        </section>

        <section class="site-team" id="team">
                <h1>About Us</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero ab accusamus consequatur expedita repudiandae veritatis, maiores asperiores! Adipisci magni eos totam hic quas. Hic nobis repudiandae cupiditate unde minus ex.</p>
            <img id="img-ON" src="assets/images/ID_ÖNilsson.bmp" alt="A picture of Öjvind Nilsson">
            <h2 id="name-ON">Öjvind Nilsson</h2>
            <img id="img-PT" src="assets/images/Peter.bmp" alt="A picture of Peter Tenghamn">
            <h2 id="name-PT">Peter Tenghamn</h2>
        </section>

        <div class="section-padding"></div>

        <section class="site-sponsors" id="sponsors">
        
        </section>

        <div class="section-padding"></div>

        <section class="site-roles" id="roles">
        
        </section>

        <div class="section-padding"></div>

    </main>




</body>

</html>