<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <!-- Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
            integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>

    <!-- Stylesheet reference -->
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css\glide\blog\glide.core.min.css">
    <link rel="stylesheet" href="css\glide\blog\glide.theme.min.css">
</head>

<header>
    <!-- ------------- NAVIGATION ------------- -->
    <nav class="nav">
        <div class="nav-bar flex-row">

            <div class="nav-brand">

                <a href="http://localhost:3000/">
                    <img class="brand-logo" src="assets/svg/blog.svg" width="50">
                    <span class="brand-brandname">Blog</span>
                </a>
            </div>

            <!-- ------------- Menu used if screen <= 750px  ------------- -->
            <div class="menu">
                <div class="icons">
                    <span>
                        <i class="fas fa-bars"></i>
                    </span>
                </div>
            </div>

            <div>
                <ul class="nav-items">
                    <li class="nav-link" id="link-home">
                        <a href="http://localhost:3000/">Home</a>
                    </li>
                    <li class="nav-link" id="link-about">
                        <a href="http://localhost:3000/about">About</a>
                    </li>
                </ul>
            </div>

            <button data-modal-target="#modal" class="user">
                <i class="fas fa-user-circle"></i>
            </button>
        </div>
    </nav>
</header>
<!-- The Java Script file that controls the navbar-->
<script src="js/navbar.js"></script>



</html>