@import url("fonts.css");

/* ------- Local Variables ------- */

:root {
    /* Fonts */
    --Abel: "Abel", cursive;
    --Anton: "Anton", cursive;
    --Josefin: "Josefin", cursive;
    --Lexend: "Lexend", cursive;
    --Livvic: "Livvic", cursive;
    --ScopeOne: 'ScopeOne', cursive;
    --UnicaOne: 'UnicaOne', cursive;
    --YanoneKaffeesatz: 'YanoneKaffeesatz', cursive;

    /*  Colors */
    --hover-grey: rgba(255, 255, 255, 0.65);

    --text-grey: #8790AF;
    --text-blue: #5E88FC;

    --color-white: white;
    --color-accent: #CC2B28;
    --color-green: #659B5E;
    --color-light-blue: #ADDCFF;
    --color-dark-blue: #274C77;

        /* Gradients */
        --Risky-Concreate: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);

    /* Variables */
    --navbar-size: 75px;
}


/* ------- Global Classes ------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    margin: 0%;
    overflow-y: scroll;

    background-color: #a3cef1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%238ab4d9' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23719ac0' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%235980a8' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2340668f' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23274c77' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

body {
    margin: 0%;
}

h1 {
    text-align: center;
    font-family: var(--ScopeOne);
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    font-family: var(--UnicaOne);
}

h3 {
    text-align: center;
    font-family: var(--ScopeOne);
    font-size: 1.3rem;
}

p {
    font-family: var(--YanoneKaffeesatz);
    letter-spacing: 2px;
}

.section-padding {
    height: 100px;
}

.error {
    display: none;
    color: var(--color-white);
    background-color: var(--color-accent);
    border-radius: 50px;
}

.error:hover {
    color: var(--color-dark-blue);
    background-color: var(--hover-grey);
}


/* ------- Intro Section ------- */
.site-intro {
    margin-bottom: 15px;

    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: calc(var(--navbar-size) + 10vh);

    column-gap: 10px;
    display: grid;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: 500px 450px;
    grid-template-areas:
        "desc users";
}

.site-intro h2 {
    color: var(--text-blue);
}

.site-intro .intro-blog {
    color: black;
    grid-area: desc;
    background: var(--color-white);
    border-radius: 80px 0px 0px 80px;
    padding: 10px;

}

.site-intro .intro-users {
    grid-area: users;
    background: var(--color-white);
    border-radius: 0px 80px 80px 0px;
    padding: 10px;
}

/* ------- Content Section ------- */
.site-content .item {
    text-align: center;
    max-width: 1064px;
    background: var(--color-white);
    border-radius: 50px;
    padding-bottom: 10px;
    margin: 0 auto;
    max-width: 850px;
}

.site-content h4 {
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
    
    width: 1064px;

    padding-left: 150px;
    padding-bottom: 10px;
    padding-top: 75px;

    color: var(--color-white);
    font-size: 1.25rem;
    text-shadow:
        0.05em 0.05em black;
    text-decoration: underline;
}

.site-content .item img {
    width: 100%;
    border-radius: 50px 50px 0px 0px;
}

.site-content .item h1{
    color: var(--text-blue);
}

.site-content .item h2 {
    color: var(--color-green);
}

.site-content hr {
    margin-left: 15%;
    margin-right: 15%;
    border-top: 1px solid thistle;
}

.site-content .item .comment-in {
    display: none;
    margin-top: 15px;
    font-size: 1.2rem;
    padding: 12px 20px;
    width: 50%;
    background: var(--Risky-Concreate);
}

.site-content .item .item-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-content a {
    background: var(--color-accent);
    color: var(--color-white);
    padding: 0.6rem 1.5rem;
    margin: 5px;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-family: var(--YanoneKaffeesatz);
}

.site-content a:hover {
    background: var(--color-dark-blue);
}

button.btn {
    display: none;
    border: none;
    border-radius: 2rem;
    padding: 0.6rem 1.5rem;
    font-size: 1.5rem;
    font-family: var(--YanoneKaffeesatz);
    cursor: pointer;
    margin: 5px;
    background-image: var(--Risky-Concreate);

}

button.btn:hover {
    color: white;
    background-image: none;
    background-color: var(--color-dark-blue);
}