@import url("fonts.css");

/* ------- Local Variables ------- */

:root {
    /* Fonts */
    --Abel: "Abel", cursive;
    --Anton: "Anton", cursive;
    --Josefin: "Josefin", cursive;
    --Lexend: "Lexend", cursive;
    --Livvic: "Livvic", cursive;
    --ScopeOne: 'ScopeOne', cursive;
    --UnicaOne: 'UnicaOne', cursive;
    --YanoneKaffeesatz: 'YanoneKaffeesatz', cursive;

    /*  Colors */
    --hover-grey: rgba(255, 255, 255, 0.65);

    --text-grey: #8790AF;
    --text-blue: #5E88FC;

    --color-white: #E7ECEF;
    --color-accent: #9BD832;
    --color-green: #50AA00;
    --color-green-blue: #A3CEF1;
    --color-light-blue: #6096BA;
    --color-dark-blue: #274C77;

    /* Gradients */
    --Risky-Concreate: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    --Young-Grass: background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
    --New-Life: background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

    /* Variables */
    --navbar-size: 75px;
}


/* ------- Global Classes ------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    margin: 0%;
    overflow-y: scroll;
}

body {
    margin: 0%;
}

h1 {
    text-align: center;
    font-family: var(--ScopeOne);
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    font-family: var(--UnicaOne);
}

h3 {
    text-align: center;
    font-family: var(--ScopeOne);
    font-size: 1.3rem;
}

p {
    font-family: var(--YanoneKaffeesatz);
    letter-spacing: 2px;
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-family: var(--YanoneKaffeesatz);
    cursor: pointer;
    margin: 5px;
    background-image: var(--Risky-Concreate);

}

button.btn:hover {
    color: white;
    background-image: none;
    background-color: var(--color-accent);
}

.btn-link {
    border: none;
    border-radius: 2rem;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-family: var(--YanoneKaffeesatz);
    cursor: pointer;
    margin: 5px;
    background-image: var(--Risky-Concreate);
    width: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-link:hover {
    color: white;
    background-image: none;
    background-color: var(--color-accent);
}

.link-tag {
    padding-left: 10px;
}

.section-padding {
    height: 100px;
}

header{
        color: white;
        display: grid;
        justify-items: center;
        justify-content: center;
        padding-top: calc(var(--navbar-size) + 1vh);
        background-image: linear-gradient(to top, rgba(163, 206, 241, 1), rgba(39, 76, 119, 1));
        background-size: cover;
}