@font-face {
    font-family: Abel;
    src: url('../assets/fonts/Abel/Abel-Regular.ttf');
}

@font-face {
    font-family: Anton;
    src: url('../assets/fonts/Anton/Anton-Regular.ttf');
}

@font-face {
    font-family: Josefin;
    src: url('../assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: Lexend;
    src: url('../assets/fonts/Lexend_Deca/LexendDeca-Regular.ttf');
}

@font-face {
    font-family: Livvic;
    src: url('../assets/fonts/Livvic/Livvic-Regular.ttf');
}

@font-face {
    font-family: ScopeOne;
    src: url('../assets/fonts/Scope_One/ScopeOne-Regular.ttf');
}

@font-face {
    font-family: UnicaOne;
    src: url('../assets/fonts/Unica_One/UnicaOne-Regular.ttf');
}

@font-face {
    font-family: YanoneKaffeesatz;
    src: url('../assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf');
}