@import url('fonts.css');

/* ------- Local Variables ------- */

:root {
    /* Fonts */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
    --ScopeOne: 'ScopeOne', cursive;
    --UnicaOne: 'UnicaOne', cursive;
    --YanoneKaffeesatz: 'YanoneKaffeesatz', cursive;

    /*  Colors */
    --hover-grey: rgba(255, 255, 255, 0.65);

    --text-grey: #8790AF;
    --text-blue: #5E88FC;

    --color-white: #E7ECEF;
    --color-accent: #9BD832;
    --color-green: #50AA00;
    --color-green-blue: #A3CEF1;
    --color-light-blue: #6096BA;
    --color-dark-blue: #274C77;

    /* Gradients */
    --Risky-Concreate: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    --Young-Grass: background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
    --New-Life: background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

/* ------- Global Classes ------- */

a {
    text-decoration: none;
    color: var(--text-grey);
}

ul {
    list-style-type: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.txt-in {
    font-family: var(--YanoneKaffeesatz);
    border-radius: 5px;
    border: var(--color-accent);
}

.form-txt {
    font-family: var(--YanoneKaffeesatz);
}

/* ------- Pop-up ------- */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 50%;
    border-radius: 15px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);

}

.modal-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-header .title {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--UnicaOne);
    text-align: center;
    align-items: center;
}

.modal-header .title-login:hover {
    background: var(--color-dark-blue);
    color: white;
    cursor: pointer;
}


.modal-header .title-register:hover {
    background: var(--color-dark-blue);
    color: white;
    cursor: pointer;
}

.btn-login-close {
    margin-left: auto;
    margin-right: 15px;
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    background: var(--text-grey);
    border-radius: 50%;
    margin-top: -15px;
    color: var(--color-white);
}

.btn-login-close:hover {
    color: var(--color-dark-blue);
}


.modal-body {
    background: var(--color-white);
    padding: 10px 15px;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.modal-body .form-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* This is needed for proper alignment since text is bigger than the others */
.modal-body .form-confirm {
    text-align: left;
}

.modal-body .form-confirm,
.form-email,
.btn_login_register {
    display: none;
}

.modal-body .txt-username {
    margin-right: 5px;
}

.modal-body .txt-password {
    margin-right: 6px;
}

.modal-body .txt-confirm {
    margin-right: 6px;
    text-align: left;
    margin-left: 107px;
}

.modal-body .txt-email {
    margin-right: 18px;
}

.modal-body .popup-btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--YanoneKaffeesatz);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: var(--Risky-Concreate);
}

.modal-body .popup-btn:hover {
    background: var(--color-dark-blue);
    color: white;
}

.highlighted {
    background: var(--color-dark-blue);
    color: white;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    z-index: 2;
    opacity: 1;
    pointer-events: all;
}